@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html, body {margin: 0; padding: 0; border: 0; font-family: 'Kanit', sans-serif;}
body {background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);}
h1 {font-size: 80px; text-transform: uppercase; text-align: center; color: #fff; margin: 150px 0 30px;}